@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Tsukimi+Rounded:wght@700&display=swap');

body {
    background:  #36393e;
    font-family: Cairo, sans-serif;
}

#navbar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 65px;
    background-color: rgba(32,32,32,255);
    z-index: 100; 
}

#hive-icon {
    position: absolute;
    left: 0;
    top: 14px;
    width: 55px; 
    height: 35px 
}

#hive { 
    font-family: Tsukimi Rounded, sans-serif;
    font-size: 1.4rem;
    position: absolute;
    left: 25px;
    top: 0;
    padding: 1rem;
    color: rgba(255,210,1,255);
}

#search-bar {
    position: absolute;
    margin: auto;
    top: 34%;
    left: 25%;
}

#nav-links {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    top: 0;
    color: rgba(255,210,1,255);
}

.nav-link {
    font-family: regular, Cairo;
    padding: 1rem;
    font-size: 1rem;
}

#profile-nav{
    color: rgba(255,210,1,255);
    float:left;
    position: relative;
    top: 10;
    margin-top: 50px;
    margin-left: 10%;
    width: 50%;
    height: 10px;
}

#profile-navlinks{

    flex-direction: left;
    position: absolute;
    font-weight: 300px;
    font-size: 20px;
    display: inline-block;

}

.prof-link{

    margin-left: 1px;
    padding: 1;
    padding-right: 2rem;

}

#Posts{
    text-decoration: overline;
}

#Comments{
    text-decoration: none;
    color:#fff;
}

#Comments:hover{
    color:rgba(255,210,1,255);
}

.profilecard{

        background-color: rgba(32,32,32,255);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        position: relative;
        min-height: 35%;
        top: 5%;
        left: 80px;
        display: block;
        flex-direction: column;
        font-size: 15px;
        font-family: Roboto, sans-serif;
        color: rgba(255,210,1,255);
        border-radius: 5px;
        width: 90%;
        max-width: 450px;
        text-align: center;
        justify-content: center;
        float: left;

}

.profile-icon {
    border-radius: 50%;
    box-shadow: 0 0px 8px 5px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px;
    margin-top: -70px;
    text-align: center;
}

.cover-icon {
    display: block;
    width: 100%;
    border-radius: 1%;
    margin-right: auto;
    text-align: center;
}

.profile-username {
    position: block;
    font-weight: 700;
    color: white;
}

.bio-content {
    position: block;
    margin-top: -5px;
    font-size: 15px;
    color: white;
}

.row{
    display: flex;
    justify-content: space-around;
    color: #fff;
}

.row h2{
    font-weight: 700;
    font-size: 20px;
}

.editprofile-btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 700px;
    border: 2px solid rgba(255,210,1,255);
    box-shadow: 0 0px 0px 0px rgba(255,210,1,255);
    background-color: rgba(32,32,32,255);
    border-radius: 5%;
    color: #fff;
    padding: 6px 35px;
    margin: 1px auto;
    margin-left: auto;
    margin-bottom: 5%;
    text-align: center;
}

.editprofile-btn:hover {

    box-shadow: 0 0px 2px 1px rgba(255,210,1,255);

}

.create-post-btn {
    display: inline-block;
    text-decoration: none;
    background: #fcbf49;
    font-weight: 600px;
    width: 100%;
    color: #fff;
    padding: 1px 0;
    margin: 1px auto;
    margin-top: 20px;
    margin-left: auto;
    text-align: center;
}

.create-post-btn:hover {

    box-shadow: 0 0px 2px 1px #fcbf49;

}

.profile-cat{
    position:relative;
    float: top;
}

.post {
    background-color: rgba(32,32,32,255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 45%;
    position: relative;
    top: 50px;
    left: 10%;
    right: 25%;
    float: left;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    color: rgba(255,210,1,255);
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.post-header {
    display: flex;
	position: absolute;
    top: 5px;
    left: 20px;
}

.user-icon {
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 7px;
}

.post-username {
    text-decoration: none;
    font-weight: 1000;
    color: white;
    padding-top: 15px;
    height: 15px;
}

.post-username:hover {
    text-decoration: underline;
}

.dot {
    font-weight: 700;
	margin-left: 10px;
	margin-right: 10px;
}

.post-title {
    text-decoration: none;
    color: white; 
    padding-top: 15px;
    height: 15px;
}

.post-title:hover {
    text-decoration: underline;
}

.post-content {
    position: relative;
    font-size: 20px;
    color: white;
}

.post-footer {
    display: flex;
	position: absolute;
    bottom: 5px;
    left: 20px;
}

.comment-count {
    margin-left: 10px;
    margin-right: 40px;
}

.vote-count {
    margin-left: 10px;
    margin-right: 10px;
}