<!DOCTYPE html>
<html>
    <head>
        <title> Homepage </title>
        <link rel="stylesheet" type="text/css" href="/Unregistered_Homepage_Style.css">
        <script src="https://kit.fontawesome.com/4c2cf73d4b.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div id = "navbar">
            <img id = "hive-icon" src="/Hive_Icon.png" alt="Hive_Icon">
            <span id = "hive"> HIVE </span>
            <i class = "fa-solid fa-magnifying-glass" onclick = "search()"></i>
            <script>
                function search() {
                    var value = document.getElementById("search-bar").value;
                    var option = document.querySelector("#list option[value='" + value + "']");
                    if (option != null) {
                        window.location.href = "/" + value + "_profile";
                    } else
                        alert("no results found");
                }
            </script>
            <input type="text" id = "search-bar" list = "list" name="search" placeholder = "search" size = "100">
            <datalist id="list">
                <option value="drinkwater">
                <option value="PawsomePal">
                <option value="TheCAGE">
                <option value="Busy_Beekeeper">
                <option value="dave">
            </datalist>
            <div id = "nav-links">
                <a class = "nav-link" href="/index"> • Home </a> 
                <a class = "nav-link" href = "/login"> Login </a> 
            </div>
        </div>

        <div class = "post">
            <div class = "post-header">
                <img  class = "user-icon" src="/user1_icon.jpg" alt="user_icon" width="32" height="32">
                <p class = "post-username" title = "login to view profile"> drinkwater </p>
                <p class = "dot"> • </p>
                <p class = "post-title" title = "login to view post"> A daily reminder to drink water </p>
            </div>
            <br> <br> 
            <p class = "post-content"> Drinking water is a brilliant investment in your well-being, as it nourishes your body, fuels your mind, 
                and replenishes your spirit, allowing you to flow through life with clarity, vitality, and utmost brilliance. </p>
            <br>
            <div class = "post-footer">
                <i class="fa-solid fa-comment" style="color: #ffd201;" title = "login to comment"></i>
                <span class = "comment-count"> 1 </span>
                <i class="fa-solid fa-angle-up" style="color: #ffd201;" title = "login to upvote"></i>
                <span class = "vote-count"> 12456 </span>
                <i class="fa-solid fa-angle-down" style="color: #ffd201; margin-right: 50px" title = "login to downvote"></i>
            </div>
        </div>
        <br>
        <div class = "post">
            <div class = "post-header">
                <img  class = "user-icon" src="/user2_icon.jpg" alt="user_icon" width="32" height="32">
                <p class = "post-username" title = "login to view profile"> PawsomePal </p>
                <p class = "dot"> • </p>
                <p class = "post-title" title = "login to view post"> Just dog things </p>
            </div>
            <br> <br> 
            <p class = "post-content"> Does anyone else talk to their dog like they're a human? Asking for a friend... 🙈😂 #DogConversations </p>
            <br>
            <div class = "post-footer">
                <i class="fa-solid fa-comment" style="color: #ffd201;" title = "login to comment"></i>
                <span class = "comment-count"> 2 </span>
                <i class="fa-solid fa-angle-up" style="color: #ffd201;" title = "login to upvote"></i>
                <span class = "vote-count"> 654 </span>
                <i class="fa-solid fa-angle-down" style="color: #ffd201; margin-right: 50px" title = "login to downvote"></i>
            </div>
        </div>
        <br>
        <div class = "post">
            <div class = "post-header">
                <img  class = "user-icon" src="/user3_icon.jpg" alt="user_icon" width="32" height="32">
                <p class = "post-username" title = "login to view profile"> TheCAGE </p>
                <p class = "dot"> • </p>
                <p class = "post-title" title = "login to view post"> Long live Nicolas Cage! </p>
            </div>
            <br> <br> 
            <p class = "post-content"> Can we take a moment to appreciate Nicolas Cage's versatility as an actor? From intense dramas to hilarious comedies, he can do it all! </p>
            <br>
            <div class = "post-footer">
                <i class="fa-solid fa-comment" style="color: #ffd201;" title = "login to comment"></i>
                <span class = "comment-count"> 1 </span>
                <i class="fa-solid fa-angle-up" style="color: #ffd201;" title = "login to upvote"></i>
                <span class = "vote-count"> 32 </span>
                <i class="fa-solid fa-angle-down" style="color: #ffd201; margin-right: 50px" title = "login to downvote"></i>
            </div>
        </div>
        <br>
        <div class = "post">
            <div class = "post-header">
                <img  class = "user-icon" src="/user4_icon.jpg" alt="user_icon" width="32" height="32">
                <p class = "post-username" title = "login to view profile"> Busy_Beekeeper </p>
                <p class = "dot"> • </p>
                <p class = "post-title" title = "login to view post"> The Bee Transfer Chronicles </p>
            </div>
            <br> <br> 
            <p class = "post-content"> Today, I stepped into the enchanting world of beekeeping by transferring a bee colony. With protective gear on and heart pounding, 
                I witnessed the intricate choreography of bees, their fascinating communication, and the profound connection between beekeeper and colony. 🌺🐝 #BeekeepingAdventure </p>
            <br>
            <div class = "post-footer">
                <i class="fa-solid fa-comment" style="color: #ffd201;" title = "login to comment"></i>
                <span class = "comment-count"> 1 </span>
                <i class="fa-solid fa-angle-up" style="color: #ffd201;" title = "login to upvote"></i>
                <span class = "vote-count"> 3 </span>
                <i class="fa-solid fa-angle-down" style="color: #ffd201; margin-right: 50px" title = "login to downvote"></i>
            </div>
        </div>
        <br>
        <div class = "post">
            <div class = "post-header">
                <img  class = "user-icon" src="/user5_icon.jpg" alt="user_icon" width="32" height="32">
                <p class = "post-username" title = "login to view profile"> dave </p>
                <p class = "dot"> • </p>
                <p class = "post-title" title = "login to view post"> Anyone up for a roadtrtip? </p>
            </div>
            <br> <br> 
            <p class = "post-content"> Excited to announce that I've just become the proud owner of a brand new Toyota Wigo! 
                The perfect combination of style, efficiency, and reliability. Ready to hit the road and create unforgettable memories. 🚗💨 #NewCarFeels #ToyotaWigo </p>
            <br>
            <div class = "post-footer">
                <i class="fa-solid fa-comment" style="color: #ffd201;" title = "login to comment"></i>
                <span class = "comment-count"> 3 </span>
                <i class="fa-solid fa-angle-up" style="color: #ffd201;" title = "login to upvote"></i>
                <span class = "vote-count"> 35 </span>
                <i class="fa-solid fa-angle-down" style="color: #ffd201; margin-right: 50px" title = "login to downvote"></i>
            </div>
        </div>
    </body>
</html>